.like-svg-anim {
    cursor: pointer;
    overflow: visible;
}

.like-svg-anim .thumb {
    transform-origin: 12px 12px;
    stroke: #0f0f0f;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    
}

.like-svg-anim .particle {
    transform-origin: 32px 32px;
    opacity: 0;
}

.like-svg-anim .p-container {
    transform-origin: 32px 32px;
}

.like-svg-anim .p1 {
    transform: rotate(0deg);
}

.like-svg-anim .p2 {
    transform: rotate(30deg);
}

.like-svg-anim .p3 {
    transform: rotate(60deg);
}

.like-svg-anim .p4 {
    transform: rotate(90deg);
}

.like-svg-anim .p5 {
    transform: rotate(120deg);
}

.like-svg-anim .p6 {
    transform: rotate(150deg);
}

.like-svg-anim .p7 {
    transform: rotate(180deg);
}

.like-svg-anim .p8 {
    transform: rotate(210deg);
}

.like-svg-anim .p9 {
    transform: rotate(240deg);
}

.like-svg-anim .p10 {
    transform: rotate(270deg);
}

.like-svg-anim .p11 {
    transform: rotate(300deg);
}

.like-svg-anim .p12 {
    transform: rotate(330deg);
}


.like-svg-anim.liked .thumb {
    animation: thumbAnimOnce 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.like-svg-anim.liked .circle-1 {
    animation: particleBurst1Once 0.6s ease-out forwards;
}

.like-svg-anim.liked .circle-2 {
    animation: particleBurst2Once 0.6s ease-out forwards;
}



@keyframes particleBurst1Once {
    0% {
        opacity: 0;
        transform: translateY(0) scale(0);
    }

    30% {
        opacity: 1;
        transform: translateY(-16px) scale(1);
    }

    100% {
        opacity: 0;
        transform: translateY(-26px) scale(0);
    }
}

@keyframes particleBurst2Once {
    0% {
        opacity: 0;
        transform: translateY(0) scale(0);
    }

    30% {
        opacity: 1;
        transform: translateY(-12px) scale(1.2);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px) scale(0);
    }
}

@keyframes thumbAnimOnce {
    0% {
        transform: scale(1) rotate(0deg);
        fill: none;
    }

    20% {
        transform: scale(0.8) rotate(-15deg);
        fill: none;
    }

    
    40% {
        transform: scale(1.2) rotate(10deg);
        fill: #0f0f0f;
        stroke: #0f0f0f;
    }

    70% {
        transform: scale(1.1) rotate(0deg);
        fill: #0f0f0f;
        stroke: #0f0f0f;
    }

    
    100% {
        transform: scale(1) rotate(0deg);
        fill: #0f0f0f;
        stroke: #0f0f0f;
    }
}