
.skeleton-card {
    display: flex;
    flex-direction: column;
}

.skeleton-thumbnail {
    width: 100%;
    aspect-ratio: 16 / 9.3;
    background: var(--bg-skeleton);
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.skeleton-meta {
    display: flex;
    gap: 12px;
    margin-top: 12px;
}

.skeleton-avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: var(--bg-skeleton);
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.skeleton-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.skeleton-text {
    height: 16px;
    background: var(--bg-skeleton);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.skeleton-title-1 {
    width: 90%;
}

.skeleton-title-2 {
    width: 70%;
}

.skeleton-meta-text {
    width: 60%;
}


.skeleton-thumbnail::after,
.skeleton-avatar::after,
.skeleton-text::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, var(--bg-hover), transparent);
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}